#NoBtn, #SiBtn {
  position: absolute;
  width: 60px;
  height: 40px;
  padding: 6px 20px;
  margin: 0 10px;
  box-sizing: border-box;
  transition: none;
}

#SiBtn {
  left: 35%;
  top: calc(100svh - 20vh); /* Calcula la posición teniendo en cuenta el espacio ocupado por la barra de herramientas */
  transform: translate(-50%, 0);
}

#NoBtn {
  left: 60%;
  top: calc(100svh - 20vh); /* Calcula la posición teniendo en cuenta el espacio ocupado por la barra de herramientas */
  transform: translate(-50%, 0);
  transition: all 0.3s ease;
}

/* Para evitar la superposición con otros elementos */
.container {
  position: relative;
  padding-bottom: 60px; /* Asegura que haya espacio suficiente debajo del contenido principal */
}

img {
  max-height: calc(100svh - 30vh); /* Ajusta la altura máxima de la imagen para dejar espacio suficiente para los botones */
}
