#NoBtn, #SiBtn {
  position: absolute;
  width: 60px;
  height: 40px;
  padding: 6px 20px;
  margin: 0 10px;
  box-sizing: border-box;
  transition: none;
}

#SiBtn {
  left: 35%;
  top: calc(100svh - 20vh); /* Calcula la posición teniendo en cuenta el espacio ocupado por la barra de herramientas */
  transform: translate(-50%, -50%);
}

#NoBtn {
  left: 60%;
  top: calc(100svh - 20vh); /* Calcula la posición teniendo en cuenta el espacio ocupado por la barra de herramientas */
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}
